@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");

body {
    background-color: rgb(33, 33, 33);
    color: rgb(255, 255, 255);
    overflow: hidden;

    --TextColorPrimary: rgb(255, 255, 255);
    --TextColorSecondary: rgb(180, 180, 180);
    --TextColorTertiary: rgb(120, 120, 120);

    --BackgroundPrimary: rgba(0, 0, 0, 0.25);
    --BackgroundSecondary: rgba(0, 0, 0, 0.125);
    --BackgroundTertiary: rgb(24, 24, 24);
    --Background: rgb(48, 48, 48);

    --ForegroundPrimary: rgba(255, 255, 255, 0.25);
    --Foreground: rgba(255, 255, 255, 0.125);
    --ForegroundSecondary: rgba(255, 255, 255, 0.0625);
    --ForegroundTertiary: rgba(255, 255, 255, 0.03125);
}

* {
    font-family: "Gabarito";
    transition: all 0.25s ease;
}

.Loader {
    display: block;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    --Height: 6px;
    --Color: #0071e2;
    width: 18em;
    height: var(--Height);
    border-radius: 30px;
    background-color: var(--BackgroundPrimary);
}

.Loader::before {
    content: "";
    position: absolute;
    background: var(--Color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: LoaderMovingAnimation 0.75s ease-in-out infinite;
}

.Loader > span {
    position: absolute;
    transform: translate(-50%, -50%);

    font-size: 0.75em;
    font-weight: 600;
}

.Loader > span:first-child {
    left: 50%;
    top: -137.5%;
    color: var(--TextColorSecondary);
}

.Loader > span:last-child {
    left: 50%;
    top: 275%;
    color: var(--TextColorTertiary);
}

@keyframes LoaderMovingAnimation {
    50% { width: 100% }
    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}